*::before,
*::after,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: fon1;
    src: url(./font/Times-new-roman-italic.ttf) format(truetype);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    font-family: font1;
    background-color: #07121F;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    height: 100vh;
}

header {
    background-image: url(./pic/hero_wallpaper.jpg);
    background-size: cover;
}

/* header */
.container_1 {
    max-width: 100%;
    height: 100px;
    background-color: #1f304035;
    backdrop-filter: blur(5px);
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.header_item {
    background-color: transparent;
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.header_item_input {
    width: 45px;
    height: 45px;
    background-color: transparent;
    color: white;
    padding: 10px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid white;
    transition: all 0.2s ease;
}

.header_item_input:hover {
    color: blue;
    border: 1px solid blue;
}

.header_list {
    background-color: transparent;
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.list_item {
    color: white;
    list-style-type: none;
    transition: all 0.3s ease;
}

.list_item:hover {
    transform: scale(1.1);
    text-shadow: 0px 0px 5px #7fcdff;
}

.contact_input {
    border: 1px solid #7fcdff;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #7fcdff, #dff7ff);
    background-clip: text;
    height: auto;
    color: transparent;
    background-size: 400% 400%;
    -webkit-text-fill-color: transparent;
    animation: gradient 15s ease infinite;
    transition: all 0.3s ease;
}

.contact_input:hover {
    transform: scale(1.05);
}

/* header2 */
.container_2 {
    background-color: transparent;
    width: 100%;
    height: 105vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.profile {
    background-color: transparent;
    width: 50%;
    height: 60vh;
    display: flex;
    justify-content: end;
    align-items: center;
}

.profile_pic {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 30px;
    border: 5px solid #b2d5e5;
    box-shadow: 0px 0px 5px blue;
    background-image: url(./pic/profile.jpg);
    background-size: cover;

}

.about {
    background-color: transparent;
    width: 50%;
    height: 60vh;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 14px;
}

.about_item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 1.5rem;
}

.about_item h1 {
    color: white;
    text-shadow: 0px 0px 10px #b2d5e5;
}

.about_item h2 {
    font-size: 1.5rem;
    color: #b2d5e5;
    text-shadow: 0px 0px 10px blue;
}

/* main */
.container_3 {
    width: 100%;
    height: 350px;
    background-color: #00010B;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 0px 100px 100px #00010B;
}

.container_3 p {
    font-size: 1.2rem;
    padding: 50px;
}

.container_4 {
    margin-top: 12rem;
    background-color: #07121F;
    box-shadow: 0px 0px 80px 80px #07121F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.container_4 h1 {
    color: white;
    text-align: center;
}

.card_group {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 230px);
    grid-template-rows: repeat(2, 300px);
    justify-content: center;
    align-content: center;
    gap: 50px;
}

/* لپ‌تاپ و تبلت */
@media (max-width: 1300px) {
    .card_group {
        grid-template-columns: repeat(4, 230px);
    }
}

/* تبلت */
@media (max-width: 1050px) {
    .card_group {
        grid-template-columns: repeat(3, 230px);
        gap: 30px;
    }
}

/* موبایل */
@media (max-width: 800px) {
    .card_group {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        max-width: max-content;
    }
}

.card {
    width: 230px;
    height: 300px;
    border: 1px solid #7fcdff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #7fcdff;
    background-color: #b2d5e51d;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 50px;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card h1 {
    margin-top: 20px;
}

.circle {
    --size: 140px;
    color: white;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background:
        conic-gradient(var(--color) calc(var(--percent) * 1%),
            #07121F 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.circle::before {
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    background: #0f172a;
    border-radius: 50%;
}

.circle span {
    position: relative;
    z-index: 1;
    font-size: 28px;
    font-weight: bold;
}

.container_5 {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 50px;
    margin-bottom: 5rem;
}

.project_box {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    /* height: 300px; */
    border: 1px solid #7fcdff;
    text-align: center;
    gap: 50px;
}

.github {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border: 1px solid #07121F;
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(-45deg, #7fcdff, #07121F);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.github a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 5px black;
}

/* footer */
footer {
    
    box-shadow: 0px 0px 100px 100px black;
}

.container_6 {
    /* width: 100%; */
    /* height: 600px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.footer {
    width: 90%;
    height: 520px;
    background-color: rgba(7, 17, 31, 0.763);
    backdrop-filter: blur(1px);
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px #01110f;
    border: 1px solid #01110f;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-left: 50px;
}

.contact_me {
    width: 30%;
    height: 400px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: white;
    background-color: transparent;
    gap: 50px;
    text-shadow: 0px 0px 5px #7fcdff;
}

.contact_me h1 {
    margin-left: -20px;
}

.contact_me ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-shadow: 0px 0px 5px black;
}

.follow {
    width: 30%;
    height: 400px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: white;
    text-shadow: 0px 0px 5px black;
}

.footer_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.media {
    width: 50px;
    height: 50px;
    background-color: #7fcdff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_tittle {
    width: 30%;
    height: 400px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    color: white;
    margin-bottom: 120px;
}

.footer_tittle h1 {
    color: blue;
    text-shadow: 0px 0px 10px black;
}

.footer_tittle h4 {
    width: 300px;
    margin-bottom: -10px;
    text-shadow: 0px 0px 5px #7fcdff;
}

h1 {
    text-shadow: 0px 0px 5px #7fcdff;
}